/* 모든 요소에 box-sizing 설정 */
*, *::before, *::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding-top: 140px; /* header 높이만큼 여백을 주어 본문이 header와 겹치지 않도록 */
}

.App-header {
  background-color: #2a2a72;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* 헤더가 위에 있도록 설정 */
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  padding-top: 120px; /* 헤더 높이만큼 밀어주기 */
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

/* 배너 스타일 */
.banner {
  width: 100vw; /* 화면 너비에 맞게 설정 */
  max-width: 100%;
  height: auto;
}

.main-content {
  padding-top: 140px; /* 헤더 높이만큼 밀어주기 */
  box-sizing: border-box;
  margin-top: 120px; /* padding-top을 margin-top으로 조정하여 안정적 적용 */
}