/* 모든 요소에 box-sizing 설정 */
*, *::before, *::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding-top: 140px; /* header 높이만큼 여백을 주어 본문이 header와 겹치지 않도록 */
}

.App-header {
  background-color: #2a2a72;
  color: white;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

/* 배너 스타일 */
.banner {
  width: 100vw; /* 화면 너비에 맞게 설정 */
  max-width: 100%;
  height: auto;
}